apiVersion: v1
kind: Secret
metadata:
  name: biasguard-secrets
  namespace: biasguard
type: Opaque
data:
  # All values must be base64 encoded
  # Example: echo -n "mypassword123" | base64
  POSTGRES_PASSWORD: <BASE64_ENCODED_PASSWORD>
  OPENAI_API_KEY: <BASE64_ENCODED_KEY>
  PINECONE_API_KEY: <BASE64_ENCODED_KEY>
  SECRET_KEY: <BASE64_ENCODED_SECRET>